* {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    padding: 1em;
}

header nav ul li a {
    text-decoration: none;
}

body {
    background-image: url("../img/pattern.jpg");
}

section {
    background-color: white;
    margin: auto 5rem;
    min-height: 80vh;
}

section h1 {
    text-align: center;
}

#article-list div {
    border-bottom: 1px solid gray;
    margin-top: 2em;
}

#article-list div a {
    text-decoration: none;
}

#article-list div p {
    margin-top: 0.5em;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}